/* common */
.core-pointer {
    cursor: pointer;
}
.core-pointer-zoom-in {
    cursor: zoom-in;
}
.core-display-none {
    display: none;
}
.core-display-block {
    display: block;
}
.core-display-inline-block {
    display: inline-block;
}
.core-spacer-1 {}
.core-spacer-2 {}

.core-text-align-center {
    text-align: center;
}
.core-text-align-left {
    text-align: left;
}
.core-text-align-right {
    text-align: right;
}

/* fixed-header: fh- */
.fh-core {
    z-index: 10;
    padding: 10px 16px;
    color: #666;
}
.fh-label-1 {
    margin-left: 16px;
    margin-right: 16px;
}
.fh-font-1 {
    font-size: 0.95em;
    font-weight: bold;
}
.fh-sticky {
    position: fixed;
    top: 0;
    width: 100%
}
.fh-rolling-background {
    background: #ffffff;
    box-shadow: 0 1px 3px #ccc;
}
.fh-hamburger-1 {
    display: none;
}
.fh-hamburger-list {
    margin-top: 28px;
    display: none;

    position: absolute;
    left: 0;

    width: 100%;
}
.fh-hamburger-list ul {
    list-style-type: none;
    padding-left: 16px;
    width: 100%;
    /*background: #000046;*/
    background: linear-gradient(225deg, rgb(0,0,70), rgb(113, 74, 253));
}
.fh-hamburger-list ul li {
    color: #F3F3F3;
    font-size: 20px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-top: 8px;
    margin-bottom: 4px;
}
.fh-hamburger-list ul li:first-child {
    padding-top: 12px;
}
.fh-hamburger-list ul li:last-child {
    padding-bottom: 12px;
}
.fh-hamburger-list ul li a {
    color: #F3F3F3;
}
.fh-core a {
    color: #666;
}


/* carousel */
.car-flyer-core {
    z-index: 5;
    background-color: #cccccc;
    height: 500px;
    /* width: 1000px; */
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.car-flyer-container {
    /*width: 1000px; */
    width: 100%;

    height: 500px;
    margin: auto;
}
.car-core {
    width: 100%;
    margin: auto;
    display: inline-block;
}
.car-control-color-1 {
    color: gray;
}
.car-control-color-2 {
    color: white;
}
.car-dots {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%);
    font-size: 0.8em;
}
.car-dots-spacer-1 {
    margin-left: 4px;
    margin-right: 4px;
}
.car-swipe-left {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-0%, -50%);
    font-size: 2.4em;
}
.car-swipe-right {
    text-align: right;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(-0%, -50%);
    font-size: 2.4em;
}


/* card */
.cd-core-before {
    margin-top: 100px;
    /** mdbootstrap has a hard-coded max-width for different media queries... set this back to something bigger than 960px */
    max-width: 1280px;
}
.cd-container {
    /*margin: 4px;
    border: 1px solid blue;
    height: 320px;*/

    /* border: 1px solid blue; */
    margin-top: 4px;
    margin-bottom: 4px;
    height: 320px;
}
.cd-preview {
    /* border-radius: 50%; */
    border-radius: 4px;
    width: 100%;
    height: 280px;
    position: relative;
}
.cd-preview-hover {
    position: relative;
    top: -8px;
    box-shadow: 4px 4px 2px #cccccc;
}
/* somehow didn't work as expected
.cd-content-pane {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    margin: 4px;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    font-size: 16px;
    padding: 20px;
    text-align: center;
}
.meta-lightbox:hover .cd-content-pane {
    opacity: 1;
}
*/

/* portfolio menu related */
.pmenu-core {
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid rgba(200,200,200,0.5);
    /*border-radius: 20px;*/
    height: 64px;
    z-index: 8;
    background: white;
}
.pmenu-core-rolling-background {
    position: fixed;
    top: 44px; /* kind of hard-coded */
    width: 100%;
}
.pmenu-palete-container {
    /* important as this width determines how to centerize the palete options later on */
    width: 520px;
    margin: auto;
}
.pmenu-palete {
    /* vertical-align: center; */
    margin-top: 4px;
    margin-bottom: 4px;
    height: 56px;
    line-height: 56px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    color: #666;
}
.pmenu-palete:hover {
    color: #c0bfc3;
}
.pmenu-palete-chosen {
    /* adding background with gradient color */
    /*color: white;
    background: linear-gradient(180deg, rgb(113, 74, 253), rgb(146, 135, 227));
    border-radius: 30px; */
    color: orange;
}

.pmenu-hscroll-core {
    overflow: auto;
    white-space: nowrap;
    padding-left: 16px;
    padding-right: 16px;
}

/* about me */
.am-core {
    margin-top: 100px;
    /*margin-left: 20px;
    margin-right: 20px;*/

    background-image: url("../portfolio/others/about_me.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    height: 600px;
    /*border-radius: 6px; */
    /* box-shadow: 0 0 4px 8px #ccc; */
}
.am-content-container {
    position: relative;
    top: 30%;
    left: 10%;
    width: 400px;
}
.am-h3 {
    color: #c0bfc3;
    font-size: 2em;
}
.am-h4 {
    margin-top: 12px;
    margin-bottom: 12px;
    color: #F3F3F3;
    font-size: 1em;
}

/* contact me */
.cm-core {
    /* margin-top: 100px; */
    padding: 100px 48px 48px 48px;
    background: #F3F3F3;
    width: 100%;
    min-height: 100px;
    text-align: center;
}
.cm-caption {
    font-size: 2em;
    font-weight: bold;
    color: #0b0b0b;
}
.cm-social-media {
    margin-top: 60px;
}
.cm-social-item {
    color: #495057;
    font-size: 2.4em;
    margin-left: 16px;
    margin-right: 16px;
}

/* media queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .car-core {
        display: none;
    }
    .fh-label-1 {
        display: none;
    }
    .pmenu-palete-container {
        width: 300px;
        margin: auto;
    }
    .pmenu-palete {
        /* vertical-align: center; */
        margin-top: 4px;
        margin-bottom: 4px;
        height: 56px;
        line-height: 56px;
        display: inline-block;
        padding-left: 4px;
        padding-right: 4px;
        color: #666;
        font-size: 12px;
    }
    .fh-hamburger-1 {
        display: inline-block;
    }
    .am-content-container {
        position: relative;
        top: 30%;
        left: 10%;
        width: 200px;
    }
    .cd-core-before {
        margin-top: 40px;
        /** mdbootstrap has a hard-coded max-width for different media queries... set this back to something bigger than 960px */
        max-width: 600px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/*@media only screen and (min-width: 600px) {

}
*/
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
