/* common */
.core-pointer {
    cursor: pointer;
}


/* fixed-header: fh- */
.fh-core {
    z-index: 10;
    padding: 10px 16px;
    color: #666;
}
.fh-label-1 {
    margin-left: 16px;
    margin-right: 16px;
}
.fh-font-1 {
    font-size: 0.95em;
    font-weight: bold;
}
.fh-sticky {
    position: fixed;
    top: 0;
    width: 100%
}
.fh-rolling-background {
    background: #ffffff;
    box-shadow: 0 1px 3px #ccc;
}

/* carousel */
.car-flyer-core {
    z-index: 5;
    background-color: #cccccc;
    height: 500px;
    width: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.car-flyer-container {
    width: 1000px;
    height: 500px;
    margin: auto;
}
.car-core {
    width: 100%;
    margin: auto;
    display: inline-block;
}
.car-control-color-1 {
    color: gray;
}
.car-control-color-2 {
    color: white;
}
.car-dots {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%);
    font-size: 0.8em;
}
.car-dots-spacer-1 {
    margin-left: 4px;
    margin-right: 4px;
}
.car-swipe-left {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-0%, -50%);
    font-size: 2.4em;
}
.car-swipe-right {
    text-align: right;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(-0%, -50%);
    font-size: 2.4em;
}


/* card */
.cd-core-before {
    margin-top: 120px;
    /** mdbootstrap has a hard-coded max-width for different media queries... set this back to something bigger than 960px */
    max-width: 1280px;
}
.cd-container {
    /*margin: 4px;
    border: 1px solid blue;
    height: 320px;*/

    /* border: 1px solid blue; */
    margin-top: 4px;
    margin-bottom: 4px;
    height: 320px;
}
.cd-preview {
    /* border-radius: 50%; */
    border-radius: 4px;
    width: 100%;
    height: 280px;
    position: relative;
}
.cd-preview-hover {
    position: relative;
    top: -8px;
    box-shadow: 4px 4px 2px #cccccc;
}



