/* common */
* {
    box-sizing: border-box;
}

/* photo side nav */
.ph-side-nav {
    width: 240px;
    height: 100%;
    position: absolute;
    /*z-index: 0;*/
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    padding-left: 12px;
    padding-right: 12px;
}
.ph-hr-main {
    border: solid 1px #0b0b0b;
}
.ph-display-name {
    margin-top: 4px;
}
.ph-job-title {
    margin-top: 24px;
    font-size: 0.9em;
    font-weight: 400;
}
.ph-bio {
    margin-top: 4px;
    font-size: 0.8em;
    text-align: justify;
    margin-bottom: 40px;
}

.ph-hr-cat:first-child {
    border-top: 1px solid rgba(102,102,102, 0.6);
    margin-bottom: 4px;
}
.ph-hr-cat-name {
    border-bottom: 1px solid rgba(102,102,102, 0.4);
    text-transform: uppercase;
    padding-left: 16px;
    padding-bottom: 4px;
    margin-bottom: 6px;
    font-size: 0.8em;
    font-weight: 600;
}
.ph-hr-cat-name:hover {
    background-color: rgba(170,170,170,0.2);
}
.ph-hr-cat-name-selected {
    color: #c00;
}
.ph-contact-core {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 60px;
    color: #999;
}
.ph-hr-contact {
    border-bottom: 1px solid rgba(102,102,102, 0.4);
    margin-bottom: 16px;
}
.ph-contact-spacer {
    margin-left: 4px;
    margin-right: 4px;
}

/* photo flex slide show */

.ph-slide-core {
    margin-left: 240px;

    /* added for scrollable pane */
    overflow-y: scroll;
    /*height: 90%; */
}
.ph-slide-core-inner {
    overflow-y: hidden;
}
.ph-flex-row {
    display: -ms-flexbox; /* IE10 */
    display: flex;

    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;

    padding: 4px 4px;
}
.ph-flex-column {
    -ms-flex: 33.3%; /* IE10 */
    flex: 33.3%;

    max-width: 33.3%;
    padding: 0 4px;
}
.ph-flex-slide-img {
    width: 100%;
    padding: 4px 0;
}

@media only screen and (max-width: 600px) {
    .ph-side-nav {
        position: relative;
        width: 100%;
        padding-top: 0;
        padding-left: 12px;
        padding-right: 12px;
    }
    .ph-bio {
        margin-top: 40px;
        font-size: 0.8em;
        text-align: justify;
        margin-bottom: 20px;
    }

    .ph-slide-core {
        margin-left: 0;
        width: 100%;
        display: block;
        /* added for scrollable pane */
        /*overflow-y: scroll; */
    }
    .ph-slide-core-inner {
        /*overflow-y: hidden;*/
    }
    .ph-flex-row {
        display: -ms-flexbox; /* IE10 */
        display: flex;

        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;

        padding: 4px 4px;
    }
    .ph-flex-column {
        -ms-flex: 100%; /* IE10 */
        flex: 100%;

        max-width: 100%;
        padding: 0 4px;
    }
    .ph-flex-slide-img {
        width: 100%;
        padding: 4px 0;
    }
}
